.Cat_row1 {
  box-sizing: border-box;
}
@media only screen and (max-width: 425px) {
  .Cat_row1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .cat_box h2 {
    font-size: 7px;
    color: black;
  }
  .cat_img {
    height: 100px;
    width: 100px;
  }
  .cat_img img {
    height: 80px;
    width: 75px;
  }
  .see_btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
  }
  .cat_col3 {
    margin-top: 20px;
  }
  .cat_col4 {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .Cat_row1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .cat_box h2 {
    font-size: 18px;
    color: black;
  }
  .cat_img {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cat_img img {
    height: 300px;
    width: 180px;
  }
  .see_btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1366px) {
  .Cat_row1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .cat_box h2 {
    font-size: 18px;
    color: black;
  }
  .cat_img {
    height: 380px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cat_img img {
    height: 340px;
    width: 320px;
  }
  .see_btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
    font-size: 16px;
  }
  .cat_col3 {
    margin-top: 20px;
  }
  .cat_col4 {
    margin-top: 20px;
  }
}
/* @media only screen and (min-width: 1440px) {
  .Cat_row1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .cat_box h2 {
    font-size: 18px;
    color: black;
  }
  .cat_img {
    height: 380px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cat_img img {
    height: 340px;
    width: 700px;
  }
  .see_btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
    font-size: 16px;
  }
} */
