.create_form{
    border: 0.5px solid rgb(196, 193, 193);
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
      height: 560px;
      width:350px;
      border-radius: 10px;
}
.create_form label{
    font-size: 14px;
    font-weight: normal;
    color:rgb(78, 76, 76);
}
.create_form li{
    list-style:circle;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: underline;
    color:rgb(74, 112, 143) ;
    cursor:pointer;
}
.create_form span{
    font-size: 13px;
}
.Email{
    margin-top: 10px;
}
.signin{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;


}
