/* .home img
{
    width: 100%;
    z-index: -1;
    margin-bottom: -299px;
    opacity: 1;
    
} */
.slection img{
    width:100%;
    height: 100%;
}
/* .slection{
    background-color: black;
   
} */
